{% extends 'layout.html' %}

{% block body %}
    <div class="col-12 col-md-7 m-3">
        <div class="card">
            <h2 class="card-header">{{ post.title }}</h2>
            <div class="m-3 fs-6">
                <p><b>О себе:</b> {{post.about}}</p>
                <p><b>Ищу:</b> {{post.goalperson}}</p>
                <p><b>Дополнительно:</b> {{post.additional}}</p>
                <p><b>Тэги:</b> {{post.tags}}</p>
                <p><b>Имя:</b> {{post.author}}</p>
                <p><b>Дата публикации:</b> {{post.published_date}} </p>
            </div>
        </div>
    </div>
{% endblock %}