{% extends 'layout.html' %} {% load static %} {% block bookmark-active %}
active{% endblock %} {% block body %}
<div class="m-3">
  <div class="row g-2">
    {% for i in data %}
    <p class="fs-5 fw-bold text-center">{{ infoText }}</p>
    <div class="col-12 col-md-7 text-justify">
      <div class="card shadow">
        <div class="card-header">
          <p><b>Тема:</b> {{ post.title}} {{i.title}} </p>
        </div>
        <div class="card-body text-justify">
          <p><b>О себе:</b> {{post.about}} {{i.title}}</p>
          <p><b>Имя:</b> {{post.author}} {{i.author}}</p>
          <p><b>Название:</b> {{post.title}} {{i.title}}</p>
          <p><b>О чем:</b> {{post.about}} {{i.about}}</p>
          <p><b>Цель:</b> {{post.goalperson}} {{i.goalperson}}</p>
          <p><b>Дополнительно:</b> {{post.additional}} {{i.additional}}</p>
          <p><b>Тэги:</b> {{post.tags}} {{i.tags}} </p>
          <p><b>Дата публикации:</b> {{post.published_date}} {{i.published_date}}</p>
          <div class="d-flex justify-content-end"></div>
          <hr />
          <a class="btn btn-success" href="{% url 'delete_from_favorite' post_id=i.id %}">Удалить</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock body %}