{% extends 'layout.html' %}

{% block body %}
    <div>
    <h2>Анкета</h2>
    <p><b>Тема:</b> {{ post.title }}</p>
    <p><b>О себе:</b> {{post.about}}</p>
    <p><b>Имя:</b> {{post.author}}</p>
    <p><b>Название:</b> {{post.title}}</p>
    <p><b>О чем:</b> {{post.about}}</p> 
    <p><b>Цель:</b> {{post.goalperson}}</p> 
    <p><b>Дополнительно:</b> {{post.additional}}</p>
    <p><b>Тэги:</b> {{post.tags}}</p>
    <p><b>Дата публикации:</b> {{post.published_date}} </p>
    </div>
{% endblock %}